body {
  background-color: blanchedalmond;
}

section {
  padding-top: 20px;
  width: 50%;
}

section hr {
  margin-left: 0;
  width: 65%;
}

a {
  font-size: 20px;
  font-weight: bold;
}

img {
  height: 275px;
  margin: 30px 30px 30px 0;
}

footer hr {
  margin-bottom: 20px;
}
